<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, BQA!</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

  <!-- Favicons -->
    <link rel="icon" href="/static/eStartup_plugins/img/favicon.ico">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link href="/static/eStartup_plugins/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
    <link href="/static/eStartup_plugins/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/eStartup_plugins/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/static/eStartup_plugins/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/eStartup_plugins/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/eStartup_plugins/lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
    <link href="/static/eStartup_plugins/css/style.css" rel="stylesheet">
</head>

<body>
    <header id="header" class="header header-hide">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#body" class="scrollto"><span>hi,</span>BIOSQA</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="https://wiki.cisco.com/display/BQA">Home</a></li>
                    <li><a href="https://wiki.cisco.com/display/UCSQA/BIOS+QA+Group">About</a></li>
                    <li><a href="https://cdetsng.cisco.com">CDETs</a></li>
                    <li><a href="https://docs.cisco.com/share/page/site/nextgen-edcs/documentlibrary#filter=path%7C%2FEngineering%2FCSPG%2FEngineering%2FFunctions%2FServerQA%2FSustaining%2FBIOS_QA">Docs</a></li>
                    <li><a href="https://wiki.cisco.com/display/UCSQA/UCS+Blade+Server+Bundle+Performance+record">Performance</a></li>
                    <li class="menu-has-children"><a href="">Project list</a>
                        <ul>
                            <li><a href="https://wiki.cisco.com/display/UCSQA/Jalama+Beach+Patch+4.1.1c">JB MR1</a></li>
                            <li><a href="https://wiki.cisco.com/display/UCSQA/Iron+Canyon+MR3+Patch+4.0.4h">ICMR3 4.0.4h</a></li>
                        </ul>
                    </li>
                    <li><a href="https://directory.cisco.com/dir/reports/zhoqi">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

    <!--==========================
    Hero Section
    ============================-->
    <section id="hero" class="wow fadeIn">
        <div class="hero-container">
            <h1>Welcome to CRDC BQA</h1>
            <h2>You can find Apps &amp; more useful link...</h2>
            <img src="/static/eStartup_plugins/img/hero-img.png" alt="Hero Imgs">
            <a href="https://wiki.cisco.com/display/BQA/Process" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section><!-- #hero -->
    <!--==========================
    Get Started Section
    ============================-->
    <section id="get-started" class="padd-section text-center wow fadeInUp">

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">

                        <img src="/static/eStartup_plugins/img/svg/cloud.svg" alt="img" class="img-fluid">
                        <h4>blade inventory</h4>
                        <p>Check crdc bios qa blade inventory</p>
                        <a href="/server_inventory/">read more</a>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">

                        <img src="/static/eStartup_plugins/img/svg/planet.svg" alt="img" class="img-fluid">
                        <h4>qali inventory</h4>
                        <p>Check crdc bios qa qali result dashboard</p>
                        <a href="/dashboard/">read more</a>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">

                        <img src="/static/eStartup_plugins/img/svg/asteroid.svg" alt="img" class="img-fluid">
                        <h4>Pending for new APP</h4>
                        <p>Pending for new APP</p>
                        <a href="">read more</a>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--==========================
    Blade Section
    ============================-->
    <section id="blog" class="padd-section wow fadeInUp">

        <div class="container">
            <div class="section-title text-center">

                <h2>Blade Introduction</h2>
                <p class="separator">all kind of blades introduction .</p>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="block-blog text-left">
                        <a href=""><img src="/static/eStartup_plugins/img/blades/b200m5.jpg" alt="img"></a>
                        <div class="content-blog">
                            <h4><a href="">UCS B200 M5</a></h4>
                            <p>
                                2nd Gen Intel Xeon Scalable processors or Intel Xeon Scalable processors </br>
                                2 sockets </br>
                                Up to 9 TB of memory </br>
                                Up to 2 GPUs </br>
                            </p>
                            <span>From HB</span>
                            <a class="pull-right readmore" href="https://www.cisco.com/c/en/us/products/collateral/servers-unified-computing/ucs-b-series-blade-servers/datasheet-c78-739296.html">read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="block-blog text-left">
                        <a href=""><img src="/static/eStartup_plugins/img/blades/b480m5.jpg" alt="img"></a>
                        <div class="content-blog">
                            <h4><a href="">UCS B480 M5</a></h4>
                            <p>
                                2nd Gen Intel Xeon Scalable processors or Intel Xeon Scalable processors </br>
                                4 sockets </br>
                                Up to 18 TB of memory </br>
                                Up to 4 GPUs </br>
                            </p>
                            <span>From HB MR1</span>
                            <a class="pull-right readmore" href="https://www.cisco.com/c/en/us/products/collateral/servers-unified-computing/ucs-b-series-blade-servers/datasheet-c78-739280.html">read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="block-blog text-left">
                        <a href=""><img src="/static/eStartup_plugins/img/blades/other_blade.jpg" alt="img"></a>
                        <div class="content-blog">
                            <h4><a href="">Other B-series blades</a></h4>
                            <p>
                                B200 M4 </br>
                                B420 M4 </br>
                                B460 M4 </br>
                                B260 M4 </br>
                                more... </br>
                            </p>
                            <span>From Elcap MR2</span>
                            <a class="pull-right readmore" href="https://www.cisco.com/c/en/us/products/servers-unified-computing/ucs-b-series-blade-servers/index.html">read more</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!--==========================
    Team Section
    ============================-->
    <section id="team" class="padd-section text-center wow fadeInUp">

        <div class="container">
            <div class="section-title text-center">

                <h2>Team Member</h2>
                <p class="separator">CRDC BIOS QA team .</p>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-md-4 col-lg-3">
                    <div class="team-block bottom">
                        <img src="/static/eStartup_plugins/img/team/zhoqi.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="#"><i class="fa fa-phone"></i></a></li>
                            </ul>
                            <span>MANAGER.SOFTWARE DEVELOPMENT</span>
                            <h4>zhoqi</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3">
                    <div class="team-block bottom">
                        <img src="/static/eStartup_plugins/img/team/motong.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="#"><i class="fa fa-phone"></i></a></li>
                            </ul>
                            <span>ENGINEER.SOFTWARE ENGINEERING</span>
                            <h4>motong</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3">
                    <div class="team-block bottom">
                        <img src="/static/eStartup_plugins/img/team/hehuang2.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="#"><i class="fa fa-phone"></i></a></li>
                            </ul>
                            <span>ENGINEER.SOFTWARE ENGINEERING</span>
                            <h4>hehuang2</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3">
                    <div class="team-block bottom">
                        <img src="/static/eStartup_plugins/img/team/talei.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="#"><i class="fa fa-phone"></i></a></li>
                            </ul>
                            <span>ENGINEER.SOFTWARE ENGINEERING</span>
                            <h4>talei</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3">
                    <div class="team-block bottom">
                        <img src="/static/eStartup_plugins/img/team/pengfwan.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="13671545439"><i class="fa fa-phone"></i></a></li>
                            </ul>
                            <span>ENGINEER.SOFTWARE ENGINEERING</span>
                            <h4>pengfwan</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3">
                    <div class="team-block bottom">
                        <img src="/static/eStartup_plugins/img/team/hageng.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="#"><i class="fa fa-phone"></i></a></li>
                            </ul>
                            <span>ENGINEER.SOFTWARE ENGINEERING</span>
                            <h4>hageng</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3">
                    <div class="team-block bottom">
                        <img src="/static/eStartup_plugins/img/team/wewang8.jpg" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="#"><i class="fa fa-phone"></i></a></li>
                            </ul>
                            <span>ENGINEER.SOFTWARE ENGINEERING</span>
                            <h4>wewang8</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

      <!--==========================
        Footer
       ============================-->
    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-4">
                    <div class="footer-logo">
                        <a class="navbar-brand" href="#">BQA</a>
                        <p>Time is money, my friend -- Goblin</p>
                    </div>
                </div>

             <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="list-menu">

                    <h4>Abou Us</h4>

                    <ul class="list-unstyled">
                    <li><a href="#">About us</a></li>
                    </ul>

                </div>
            </div>

            </div>
        </div>

        <div class="copyrights">
            <div class="container">
                <p>&copy; Copyrights CISCO. All rights reserved.</p>
            </div>
        </div>

    </footer>
</body>
