<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

  <!-- Favicons -->
    <link rel="icon" href="/static/eStartup_plugins/img/favicon.ico">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link href="/static/eStartup_plugins/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
    <link href="/static/eStartup_plugins/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/eStartup_plugins/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/static/eStartup_plugins/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/eStartup_plugins/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/eStartup_plugins/lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
    <link href="/static/eStartup_plugins/css/style.css" rel="stylesheet">
</head>

<body>
    <header id="header" class="header header-hide">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#body" class="scrollto"><span>hi,</span>Qali Dashboard</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
{#        <a href="#body"><img src="img/logo.png" alt="" title="" /></a>#}
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li >
                        <a href="/dashboard/get_testcase/"> All_scripts_list </a>
                    </li>
                    <li>
                        <a href="/dashboard/add_qaliresult/">Manual add qali result</a>
                    </li>
                    <li>
                        <a href="/dashboard/show_qali_result">Show qali result</a>
                    </li>
                    <li class="menu-active">
                        <a href="/">Home</a>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

    <section id="hero" class="wow fadeIn">
        <div class="hero-container">

           <img src="/static/eStartup_plugins/img/newsletter-bg.jpg" alt="Hero Imgs">
        </div>
    </section><!-- #hero -->

</body>
</html>